
/* Alerts */

div#alerts {
  text-align: center;
}

div#alerts ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

div#listcontainer {
  display: inline-block;
  width: 650px;
  max-width: 650px;
  text-align: center;
}

div#gamelist, div#mygamelist {
  float: left;
  width: 50%;
}

div#gamelist ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

div#mygamelist ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

div.gamebox {
  margin-top: 1em;
}

img#rightArrow {
  height: 1em;
}
